// ### Primary

$brightred: hsl(12, 88%, 59%);
$darkblue: hsl(228, 39%, 23%);
$Verylightered: #FFF0EB;

// ### Neutral

$darkgrayishblue: hsl(227, 12%, 61%);
$Verydarkblue: hsl(233, 12%, 13%);
$Verypalered: hsl(13, 100%, 96%);
$Verylightgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


$font-small: 0.875rem; //14px
$font-med: 1rem; //16px
$font-xlg: 3.25rem;
$font-lg: 1.25rem;
